<div class="inner-component">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Country</th>
        <th>Travel status</th>
        <th>Count of hotels</th>
        <th>Count of tickets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of contries | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        [ngClass]="{'table-success': country.check,'table-secondary': country.status==false }">
        <td>
          <input type="checkbox" name="" id="" class="form-check-input" [(ngModel)]="country.check"
            [disabled]="country.status==false">
        </td>
        <td>{{country.name}}</td>
        <td>{{country.status ? 'available' : 'not available'}}</td>
        <td>{{country.countOfHotels}}</td>
        <td>{{country.countOfTickets}}</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons-container"><button (click)="check()"class="btn btn-success btn-lg">Check</button></div> 
  <ngb-pagination [collectionSize]="contries.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
</div>
