/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inner-component{
    width: 940px;
    min-height: calc(100vh - 111px);
    overflow:hidden;
}