<div class="inner-component">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Hotel</th>
        <th>Free seats in hotel</th>
        <th>City</th>
        <th>Check-In</th>
        <th>Check-Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels"
        [ngClass]="{'table-success': hotel.check}">
        <td>
          <input type="checkbox" name="" id="" class="form-check-input" [(ngModel)]="hotel.check">
        </td>
        <td>{{hotel.hotelName}}</td>
        <td>{{hotel.freeSeatsInHotel}}</td>
        <td>{{hotel.city}}</td>
        <td>{{hotel.checkIn | date: 'MM-dd-yyyy'}}</td>
        <td>{{hotel.checkOut| date: 'MM-dd-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="check()">Check</button>
</div>
