<div class="inner-component">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Hotel</th>
        <th>Free seats in hotel</th>
        <th>City</th>
        <th>Check-In</th>
        <th>Check-Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        [ngClass]="{'table-success': hotel.check}">
        <td>
          <input type="checkbox" name="" id="" class="form-check-input" [(ngModel)]="hotel.check">
        </td>
        <td>{{hotel.hotelName}}</td>
        <td>{{hotel.freeSeatsInHotel}}</td>
        <td>{{hotel.city}}</td>
        <td>{{hotel.checkIn | date: 'dd-MM-yyyy'}}</td>
        <td>{{hotel.checkOut| date: 'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="check()"class="btn btn-success btn-lg">Check</button>
  <ngb-pagination [collectionSize]="hotels.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
</div>
