.header{
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    padding: 10px;
}
.title{
    margin: auto;
    font-family: monospace;
    font-size: 30px;
    color: gold;
}
.date{
    margin-right: 80px;
    height: 35px;
    width: 225px;
}
.footer{
    border-top: 1px solid grey;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.footer div{
    margin: auto;
    width: 500px;
}