<div class="inner-component">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Airlines</th>
        <th>Free seats</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        [ngClass]="{'table-success': ticket.check}">
        <td>
          <input type="checkbox" name="" id="" class="form-check-input" [(ngModel)]="ticket.check">
        </td>
        <td>{{ticket.airline}}</td>
        <td>{{ticket.freeSeats}}</td>
        <td>{{ticket.date | date: 'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons-container"><button (click)="check()"class="btn btn-success btn-lg">Check</button></div>
  <ngb-pagination [collectionSize]="tickets.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
</div>
